@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

img{
    max-width: 100%;
    
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
    margin: 1.25rem;

}

.attribution { 
    font-size: 14px; text-align: center; }

.attribution a { 
    color: hsl(228, 45%, 44%); }


.container{
    background-color: var(--White);
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;

}

.container img{
    border-radius: 0.625rem;
    margin-bottom: 1rem;
}

.container h1{
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 1rem;
}

.container p{
    color: var(--grayish-blue);
    text-align: center;
}

@media (min-width: 500px){
    .container{
        width: 400px;
    }
}